/*------------------------------------------------------------------------------
               Obsidian Colored Sidebar Items by CyanVoxel v2.0.0               

                   A colored sidebar CSS snippet inspired by
                   the "Coloured Folders" snippet by Lithou.

This snippet targets folders beginning with numbered prefixes, and applies full
color formatting based on the root colors listed below. The prefixes are both
customizable and extensible; feel free to change, add, and remove them based on
your own titles and vault structure! By default I have a range of 8+1 colors,
however I've provided some other common colors as a starting point for your own
customization. Just swap out the color variable names in the prefix groups.

------------------------------------------------------------------------------*/

:root {
  /* ================================ Colors ================================ */
  --rosewater: #dc8a78;         /* Default Prefix: None */
  --flamingo: #dd7878;          /* Default Prefix: None */
  --pink: #ea76cb;              /* Default Prefix: None */
  --mauve: #8839ef;             /* Default Prefix: None */
  --red: #d20f39;               /* Default Prefix: None */
  --maroon: #e64553;            /* Default Prefix: None */
  --peach: #fe640b;             /* Default Prefix: None */
  --yellow: #df8e1d;            /* Default Prefix: None */
  --green: #40a02b;             /* Default Prefix: None */
  --teal: #179299;              /* Default Prefix: None */
  --sky: #04a5e5;               /* Default Prefix: None */
  --sapphire: #209fb5;          /* Default Prefix: None */
  --blue: #1e66f5;              /* Default Prefix: None */
  --lavander: #7287fd;          /* Default Prefix: None */
  --cadet-gray: #8c8fa1;        /* Default Prefix: None */

  --default-text-color: #d0d0d0;
  --highlight: #fff;
  --shadow: #181825;

  --nav-item-weight-hover: bold;
}

/* Light Theme Specific Properties */
.theme-light {
  --contrast-color: var(--shadow);
  --default-text-color: var(--shadow);
  --bg-contrast-amount: 70%;
  --fg-contrast-amount: 30%;
  --medium-contrast-amount: 60%;
  --active-contrast-amount: 30%;

  /* Darker Versions of Bright Colors for Light Theme */
  --yellow: color-mix(in srgb, #ffd85e 90%, var(--shadow));
  --lime: color-mix(in srgb, #97e768 90%, var(--shadow));
  --green: color-mix(in srgb, #52eea3 85%, var(--shadow));
  --sky: color-mix(in srgb, #51e1e9 85%, var(--shadow));
  --cool-cyan: color-mix(in srgb, #43cfea 85%, var(--shadow));
  --lavander: color-mix(in srgb, #54b6f8 90%, var(--shadow));
}

/* Dark Theme Specific Properties */
.theme-dark {
  --contrast-color: var(--highlight);
  --bg-contrast-amount: 15%;
  --fg-contrast-amount: 40%;
  --medium-contrast-amount: 20%;
  --active-contrast-amount: 10%;
}

/* All Folder Titles */
.nav-folder-title {
  font-weight: bold;
  border-radius: 5px;
}

/* Narrower Padding on Desktop*/
@media only screen and (min-width: 768px) {
  .nav-file-title,
  .nav-folder-title {
    /* padding: 3px 5px 2px 4px !important; */
    padding-top: 3px !important;
    padding-right: 5px !important;
    padding-bottom: 2px !important;
    padding-left: 15px;
  }
}

/*
============================ Folder Title Prefixes =============================
The following groups of prefixes are divided by the numbering prefix that they
target. For example, prefix '00' targets any folder titles beginning with '00',
such as '00 - Maps of Content'. The only other piece of information that changes
between the prefix groups are the color variables. Change or expand on any of
these to suit your own folder structure and vault theme!
*/

/* ------------------------------- 00 Prefix -------------------------------- */
.nav-folder-title[data-path^="00"] {
  color: var(--green);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--green) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--green) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--green) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(in srgb, var(--green) 60%, transparent);
}
.nav-folder-title[data-path^="00"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--green) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="00"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--green) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="00"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb, var(--green) var(--medium-contrast-amount), 
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--green) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--green) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--green) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb, 
    var(--green) var(--active-contrast-amount), 
    var(--default-text-color)
  );
}

/* ------------------------------- 01 Prefix -------------------------------- */
.nav-folder-title[data-path^="01"] {
  color: var(--sky);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--sky) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--sky) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--sky) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(in srgb, var(--sky) 60%, transparent);
}
.nav-folder-title[data-path^="01"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--sky) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="01"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="01"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--sky) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--sky) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--sky) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 02 Prefix -------------------------------- */
.nav-folder-title[data-path^="02"] {
  color: var(--lavander);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--lavander) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--lavander) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--lavander) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--lavander) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="02"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--lavander) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="02"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--lavander) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="02"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--lavander) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--lavander) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--lavander) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--lavander) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--lavander) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 03 Prefix -------------------------------- */
.nav-folder-title[data-path^="03"] {
  color: var(--flamingo);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--flamingo) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--flamingo) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--flamingo) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(in srgb, var(--flamingo) 60%, transparent);
}
.nav-folder-title[data-path^="03"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--flamingo) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="03"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--flamingo) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="03"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--flamingo) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--flamingo) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--flamingo) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--flamingo) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--flamingo) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 04 Prefix -------------------------------- */
.nav-folder-title[data-path^="04"] {
  color: var(--teal);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--teal) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--teal) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--teal) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(in srgb, var(--teal) 60%, transparent);
}
.nav-folder-title[data-path^="04"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--teal) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="04"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--teal) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="04"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--teal) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--teal) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--teal) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--teal) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--teal) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 05 Prefix -------------------------------- */
.nav-folder-title[data-path^="05"] {
  color: var(--mauve);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--mauve) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--mauve) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--mauve) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(in srgb, var(--mauve) 60%, transparent);
}
.nav-folder-title[data-path^="05"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--mauve) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="05"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--mauve) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="05"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--mauve) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--mauve) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--mauve) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--mauve) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--mauve) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 06 Prefix -------------------------------- */
.nav-folder-title[data-path^="06"] {
  color: var(--blue);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--blue) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--blue) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--blue) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--blue) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="06"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--blue) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="06"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--blue) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="06"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--blue) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--blue) 50%, var(--highlight))
    var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    black 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--blue) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--blue) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 07 Prefix -------------------------------- */
.nav-folder-title[data-path^="07"] {
  color: var(--sky);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--sky) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--sky) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--sky) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--sky) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="07"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--sky) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="07"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="07"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--sky) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--sky) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--sky) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--sky) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 08 Prefix -------------------------------- */
.nav-folder-title[data-path^="08"] {
  color: var(--yellow);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--yellow) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--yellow) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--yellow) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--yellow) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="08"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--yellow) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="08"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--yellow) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="08"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--yellow) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--yellow) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--yellow) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--yellow) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--yellow) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 09 Prefix -------------------------------- */
.nav-folder-title[data-path^="09"] {
  color: var(--red);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--red) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--red) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--red) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--red) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="09"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--red) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="09"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--red) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="09"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--red) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--red) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--red) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--red) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--red) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}

/* ------------------------------- 99 Prefix -------------------------------- */
.nav-folder-title[data-path^="99"] {
  color: var(--cadet-gray);
  --nav-item-color-hover: color-mix(
    in srgb,
    var(--cadet-gray) var(--fg-contrast-amount),
    var(--contrast-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    var(--cadet-gray) var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--cadet-gray) 40%,
    transparent
  );
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--cadet-gray) 60%,
    transparent
  );
}
.nav-folder-title[data-path^="99"]:hover {
  --nav-collapse-icon-color: color-mix(
    in srgb,
    var(--cadet-gray) 60%,
    var(--contrast-color)
  );
}
.tree-item-children .nav-folder:has(.nav-folder-title[data-path^="99"]) {
  --nav-indentation-guide-color: color-mix(
    in srgb,
    var(--cadet-gray) var(--medium-contrast-amount),
    transparent
  );
}
.tree-item-children
  .nav-folder:has(.nav-folder-title[data-path^="99"])
  .nav-file-title {
  --nav-item-color: color-mix(
    in srgb,
    var(--cadet-gray) var(--medium-contrast-amount),
    var(--default-text-color)
  );
  --nav-item-background-hover: color-mix(
    in srgb,
    color-mix(in srgb, var(--cadet-gray) 50%, var(--highlight))
      var(--bg-contrast-amount),
    transparent
  );
  --background-modifier-border-focus: color-mix(
    in srgb,
    var(--cadet-gray) 40%,
    transparent
  );
  --nav-item-background-active: color-mix(
    in srgb,
    var(--cadet-gray) var(--active-contrast-amount),
    transparent
  );
  --nav-item-color-active: color-mix(
    in srgb,
    var(--cadet-gray) var(--medium-contrast-amount),
    var(--default-text-color)
  );
}
